---
import MySlateBody from '../components/MySlateBody.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Digital Becerra</title>

	</head>

	<body>
		<MySlateBody>
			<span>WELCOME to my 
				<span class="p-1 rounded-md bg-yellow-400 bg-opacity-50 text-yellow-300">JavaScript</span>
                  Begginer Portafolio
		    </span>
		</MySlateBody>

		<div class="align-middle text-center p-4 font-semibold text-slate-300 text-4xl">
			
		</div>

	</body>
	





</div>
</html>
