---
import MySlateBody from '../components/MySlateBody.astro'

const url = "http://localhost:1234";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Digital Becerra</title>

	</head>

	<body >
		<form action="http://localhost:1234">
			<MySlateBody>
				<span>WELCOME to my 
					<span class="p-1 rounded-md bg-yellow-400 bg-opacity-50 text-yellow-300">JavaScript</span>
					  Begginer Portafolio
				</span>
			</MySlateBody>
	
	
	
			<div class="MySlate-text">
				Current projects:
			</div>
	
			<div id="NavButtons" class="m-6">
				<a class="p-4 NavButton MySlate-text rounded-xl bg-slate-500" href="/WarningButton"> button </a>
				<a class="p-4 NavButton MySlate-text rounded-xl bg-slate-500" href="/WarningButton"> button </a>
				<a class="p-4 NavButton MySlate-text rounded-xl bg-slate-500" href="/WarningButton"> button </a>
				<a class="p-4 NavButton MySlate-text rounded-xl bg-slate-500" href="/WarningButton"> button </a>
				<a class="p-4 NavButton MySlate-text rounded-xl bg-slate-500" href="/WarningButton"> button </a>
				<a class="p-4 NavButton MySlate-text rounded-xl bg-slate-500" href="/WarningButton"> button </a>

	
			</div>
	
		</body>
		</form>

		<style>
	  #NavButtons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; /* Distribuye el espacio entre los elementos */
    }
    .NavButton {
      flex: 0 0 auto;
      margin: 10px;
    }
		</style>
</html>
