---
import MySlateBody from '../components/MySlateBody.astro'

const url = "http://localhost:1234";

console.log(this);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Digital Becerra</title>

	</head>

	<body >
		<form action="http://localhost:1234">
			<MySlateBody>
				<span>WELCOME to my 
					<span class="p-1 rounded-md bg-yellow-400 bg-opacity-50 text-yellow-300">JavaScript</span>
					  Begginer Portafolio
				</span>
			</MySlateBody>
	
	
	
			<div class="MySlate-text">
				Current projects:
			</div>
	
			<div id="NavButtons" class="m-6">
				<a class=" NavButton show " href="/WarningButton"> Warning Button </a>
				<a class=" NavButton show" href="/WarningButton"> Warning Button </a>
				<a class=" NavButton " href="/WarningButton"> Warning Button </a>
				<a class=" NavButton " href="/WarningButton"> Warning Button </a>
				<a class=" NavButton " href="/WarningButton"> button </a>
				<a class=" NavButton " href="/WarningButton"> button </a>

	
			</div>

		</body>
		</form>

		<style>

			
	#NavButtons 
	{
      display: flex;
      flex-wrap: wrap;
	  justify-content: center;
	  align-items: center;
    }



	@keyframes FadeIn 
	{
		0% 
		{
			opacity: 0;
			transform: translateY(50px);
		}

		100% 
		{
			opacity: 1;
			transform: translateY(0px);

		}
	}

    .NavButton
	{ 
      flex: 0 0 auto;
	  width: 250px;
	  height: 210px;

	  border-radius: 15%;
	  --tw-bg-opacity: 1;
      background-color: rgb(100 116 139 / var(--tw-bg-opacity));

	  transition-duration: 600ms;
	  animation: FadeIn ease 100ms;

	  text-align: center;
	  margin: 10px;
	  margin-left: 40px;
	  margin-right: 40px;
	  margin-bottom: 50px;	 

	  
      font-size: 2.2rem;
      font-weight: 700;
      color: rgb(203, 213, 225);
    }

	.NavButton:hover
	{
		background-color: colo;
		scale: 1.2;
		box-shadow: 0 0 10px slategray;
		font-size: 2.8rem;
	}

	/*
	.NavButton:first-child
	{
		animation-delay: 0s;
	}

	.NavButton:nth-child(2)
	{
		animation-delay: 1s;
	}

	.NavButton:nth-child(3)
	{
		animation-delay: 2s;

	}
	*/


	.MySlate-text
	{
	  text-align: center;
	  margin: 20px; 

      font-size: 1.875rem;
      font-weight: 700;
      color: rgb(203, 213, 225);
	}
	
		</style>
</html>
