---
import MySlateBody from '../components/MySlateBody.astro'

const url = "http://localhost:1234";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Digital Becerra</title>

	</head>

	<body >
		<form action="http://localhost:1234">
			<MySlateBody>
				<span>WELCOME to my 
					<span class="p-1 rounded-md bg-yellow-400 bg-opacity-50 text-yellow-300">JavaScript</span>
					  Begginer Portafolio
				</span>
			</MySlateBody>
	
	
	
			<div class="MySlate-text">
				Current projects:
			</div>
	
			<div id="NavButtons" class="m-6 content-center ">
				<a class=" NavButton MySlate-text" href="/WarningButton"> Warning Button </a>
				<a class=" NavButton MySlate-text" href="/WarningButton"> Warning Button </a>
				<a class=" NavButton MySlate-text" href="/WarningButton"> Warning Button </a>
				<a class=" NavButton MySlate-text" href="/WarningButton"> Warning Button </a>
				<a class=" NavButton MySlate-text" href="/WarningButton"> button </a>
				<a class=" NavButton MySlate-text" href="/WarningButton"> button </a>

	
			</div>

	    <div class="NAVIGATION BAR mx-16 my-6 h-14 p-3 text-center  font-sans bg-gray-700 
	              text-white font-extrabold space-x-28 text-2xl  rounded-full scal">

		  <a class=" hover:bg-gray-800 rounded -xl p-1.5" href="/">Inicio</a>
		  <a class="hover:bg-gray-800 rounded -xl p-1.5"href="/AboutMe/">Sobre mi</a>
		  <a class="bg-gray-500 rounded p-1.5" href="">Habilidades</a>
		  <a class="hover:bg-gray-800 rounded p-1.5" href="/Contact/">Contacto</a>
	    </div>
	
		</body>
		</form>

		<style>

			
	#NavButtons 
	{
      display: flex;
      flex-wrap: wrap;
	  justify-content: center;
	  align-items: center;
	  
    }

    .NavButton 
	{ 
      flex: 0 0 auto;
	  width: 250px;
	  height: 210px;
	  
	  border-radius: 15%;
	  --tw-bg-opacity: 1;
      background-color: rgb(100 116 139 / var(--tw-bg-opacity));
    }

	.NavButton:hover
	{

	}

	.MySlate-text
	{
	  text-align: center;
	  margin: 10px;
	  margin-left: 30px;
	  margin-right: 30px;	 

	  
      font-size: 1.875rem;
      font-weight: 700;
      color: rgb(203, 213, 225);
	}
	
		</style>
</html>
